
h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    background-color: #2980b9;
}

h4 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    background-color: #2980b9;
}